@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #fff;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.nav__link {
  @apply grayscale
}

.nav__link--active {
  @apply relative grayscale-0
}

.nav__link--active::after {
  content: "";
  height: 0px;
  position: absolute;
  bottom: -2px;
  left: 0px;
  @apply box-content min-w-full border-b-[5px] border-b-primary;  
  @apply md:border-r-[rgb(237,235,228)] md:border-r-[5px] 
}

