@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*  */
}

@media (prefers-color-scheme: dark) {
  :root {
    /*  */
  }
}

body {
  /*  */
}

/* Nav */
.nav__link {
  @apply grayscale
}

.nav__link--active {
  @apply relative grayscale-0
}

.nav__link--active::after {
  content: "";
  height: 0px;
  position: absolute;
  bottom: -2px;
  left: 0px;
  @apply box-content min-w-full border-b-[5px] border-b-primary border-r-[rgb(237,235,228)] border-r-[5px] ;  
}

/* Hamburger */
.hamburger {
  @apply cursor-pointer relative
}
.hamburger .line {
  display: block;
  margin: 5px auto;
  width: 40px;
  height: 3px;
  @apply bg-primary opacity-100 transition-all ease-in-out delay-300
}
.hamburger--active .line:nth-child(2) {
  @apply opacity-0
}

.hamburger--active .line:nth-child(1) {
  @apply rotate-45;
}

.hamburger--active .line:nth-child(3) {
  @apply rotate-[-45deg] translate-y-[-15px];
}
